<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Locations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/style.css" rel="stylesheet" />
</head>
<body>
<h1>Locations!</h1>
<table id="unicorn-list">
    <thead>
        <th>
            Name
        </th>
        <th>
            Color
        </th>
        <th>
            Location
        </th>
    </thead>
    <tbody>
        <tr th:each="unicorn : ${unicorns}">
            <td th:text="${unicorn.name}"></td>
            <td th:text="${unicorn.color}"></td>
            <td th:text="${unicorn.location}"></td>
        </tr>
    </tbody>
</table>
<ul>
    <li th:each="location : ${locations}">
        <span th:text="${location}"></span>
        <form method="POST" th:action="${'/locations/' + location.id + '/unicorns'}">
            <label for="unicornId">Unicorn to move</label>
            <select name="unicornId">
                <span th:each="unicorn : ${unicorns}">
                    <option th:value="${unicorn.id}" th:text="${unicorn}"></option>
                </span>
            </select>
            <input type="submit" />
        </form>
    </li>
</ul>
<h2>Add a location!</h2>
<form action="/locations" method="POST">
    <label for="name">Location name</label>
    <input name="name" />
    <input type="submit" />
</form>
</body>
</html>
