<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Unicorn Ranch</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Unicorns</h1>
<ul>
    <li th:each="unicorn : ${unicorns}">
        <span th:text="${unicorn}"></span>
    </li>
</ul>

<h2>Add a unicorn:</h2>
<form action="/unicorns" method="POST">
    <label for="name">Name</label><input name="name" />
    <label for="color">Color</label><input name="color" />
    <input type="submit" />
</form>
</body>
</html>